<nav class="main-nav">
    <ul class="nav-list">
        <li class="nav-item">
            <a href="index.html">
                <i class="fas fa-home"></i>
                Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a href="teams.html">
                <i class="fas fa-shield-alt"></i>
                Teams
            </a>
        </li>
        <li class="nav-item">
            <a href="players.html">
                <i class="fas fa-users"></i>
                Players
            </a>
        </li>
        <li class="nav-item">
            <a href="statistics.html">
                <i class="fas fa-chart-bar"></i>
                Statistics
            </a>
        </li>
        <li class="nav-item">
            <a href="matches.html">
                <i class="fas fa-futbol"></i>
                Matches
            </a>
        </li>
        <li class="nav-item">
            <a href="leagues.html">
                <i class="fas fa-trophy"></i>
                Leagues
            </a>
        </li>
    </ul>
</nav>

<button class="theme-toggle" id="theme-toggle" title="Toggle theme">
    <i class="fas fa-sun"></i>
</button>
